<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hi0703</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1</property>

        <!-- 可选配置 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--加载map映射文件-->
        <mapping resource="resources/Order.hbm.xml"/>
        <mapping resource="resources/Customer.hbm.xml"/>
        <mapping resource="resources/Person.hbm.xml"/>
        <mapping resource="resources/IDCard.hbm.xml"/>
        <mapping resource="resources/Department.hbm.xml"/>
        <mapping resource="resources/Manager.hbm.xml"/>
        <mapping resource="resources/Student.hbm.xml"/>
        <mapping resource="resources/Classes.hbm.xml"/>

    </session-factory>
</hibernate-configuration>